


.pseudo-scroller {
	pointer-events: none;
}
.preserve-3d {
    //position: relative;
	-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    //perspective: 20rem;
}

.angleport__container {
	@include media(large, $gemini-screens) {
		width: 150vh;
		// Pure css rotation
		transform: rotateX(-30deg) rotateY(45deg);
		position: relative;
		margin-top: -200px;
		z-index: 10; // Safari OSX - z-index inconsistency fix
    }
}

.anglegrid {
	position: relative;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.anglegrid__item {
  transform-origin: 0 0;
  position: relative;
  display: inline-block;
  width: 30%;
  margin-bottom: 2em;
  margin-right: 3%;

}

.anglegrid__link {
    width: auto;
	position: relative;
}
.anglegrid__img {
	width: 100%;
}

.js .anglegrid__item {
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.anglegrid__link {
	position: relative;
	display: block;
}

.anglegrid__img {
	display: block;
	max-width: 100%;
}


.anglegrid__title {
	font-size: 0.65em;
	font-weight: 600;
	@include media(large, $gemini-screens) {
		position: absolute;
		z-index: -3;
		left: -220px;
		bottom: 200px;
		width: 200px;
		text-align: left;
		letter-spacing: 2px;
		text-transform: uppercase;
		opacity: 0;
		color: #F06B6A;
		transition: transform 0.3s;
		transform: rotate(-180deg);
		transform-origin: top right;
		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}

.anglegrid__item:hover .anglegrid__link{
	//z-index: 9;
	//position: relative;
}

.layer {
	position: relative;
	display: block;
}

.layer:not(:first-child) {
	@include media(large, $gemini-screens) {
		//display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.anglegrid__item .layer {
    transition: transform 0.3s;
	transform-origin: 0 0;
}

.anglegrid__item {

	.layer {
		display: none;
		@include media(large, $gemini-screens) {
			display: block;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			transition-duration: .5s;
			transition-delay: .2s;
		}
	}
	.layer-1 { 
		@include media(large, $gemini-screens) {
		transform: rotateY(30deg);
		}
	}
	.layer-2 { 
		@include media(large, $gemini-screens) {
		transform: rotateY(0deg);
		}
	}
	.layer-3 { 
		display: block;
		@include media(large, $gemini-screens) {
		transform: rotateY(-30deg);
		}
	}
}
.anglegrid__item.aos-init.aos-animate {
	.layer {
		//transition-duration: .2s;
		//transition-delay: 0s;
	}
	.layer-1 { 
		//z-index: 3;
		@include media(large, $gemini-screens) {
			transform: rotateY(0deg);
		}
	}
	.layer-2 { 
		//z-index: 2;
		@include media(large, $gemini-screens) {
			transform: rotateY(0deg);
		}
	}
	.layer-3 { 
		//z-index: 1;
		@include media(large, $gemini-screens) {
			transform: rotateY(0deg);
		}
	}
}

[data-aos=slide-left] {
	@include media(medium) {
		transform:translateX(450%)
	}
	@include media(large) {
		transform:translateX(550%)
	}
	@include media(xlarge) {
		transform:translateX(900%)
	}
}






.anglegrid__item:hover,
.anglegrid__item.aos-animate:hover {
	
	.anglegrid__title {
		opacity: 1;
		transform: rotate(-90deg);
		//z-index: auto;
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				
	}
	.layer {

		transition-duration: .2s;
		transition-delay: 0s;
		
	}
	.layer-1 { 
		@include media(large, $gemini-screens) {
			transform: rotateY(40deg);
		}
	}
	.layer-2 { 
		@include media(large, $gemini-screens) {
			transform: rotateY(0deg);
		}
	}
	.layer-3 { 
		@include media(large, $gemini-screens) {
			transform: rotateY(-40deg);
		}
	}

}




.work__intro-row {
	
	position: absolute;
    top: 26vh;
    width: 100%;
	display: block;
	overflow: visible;
}




/* Loading effect */
.js .grid {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid.grid--loaded {
	opacity: 1;
}

.js body::after {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin: -35px 0 0 -35px;
	pointer-events: none;
	border: 3px solid $brand-color;
	border-right-color: $brand-color-2;
	border-radius: 50%;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-animation: rotateCircle 0.7s linear infinite forwards;
	animation: rotateCircle 0.7s linear infinite forwards;
}

@-webkit-keyframes rotateCircle {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotateCircle {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.js body.grid-loaded::after {
	opacity: 0;
}